{
  "root": true,
  "extends": [
    "godaddy",
    "plugin:jsdoc/recommended",
    "plugin:node/recommended"
  ],
  "plugins": [
    "jsdoc",
    "mocha",
    "node"
  ],
  "env": {
    "node": true
  }
}
